name: upload_release

on:
  release:
    types: [ published ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'gradle'

      - name: Change wrapper permissions
        run: chmod +x ./gradlew

      - name: change plugin.yml version
        run: |
          before="${{ github.event.release.tag_name }}"
          after="${before//v/}"
          sed -i -e "s/1.0-SNAPSHOT/$after/i" './gradle.properties'

      - name: Build with Gradle
        run: ./gradlew :core:build -x test

      - name: Change file name
        run: mv ./core/build/libs/core-all.jar ./core/build/libs/MineAuth-core_${{ github.event.release.tag_name }}.jar

      - uses: Kir-Antipov/mc-publish@v3.3
        with:
          modrinth-id: 9LoU3yUC
          modrinth-featured: true
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}

          github-token: ${{ secrets.GITHUB_TOKEN }}
          github-draft: false
          files: |
            ./core/build/libs/MineAuth-core_${{ github.event.release.tag_name }}.jar
          loaders: |
            paper
            purpur
          game-versions: |
            1.20.6
          game-version-filter: releases
          java: |
            21


